<launch> 


  <include file="$(find MultiUAV)/launch/px4/camera_px4.launch"/>

  <!-- 启动控制节点-->
  <node pkg="MultiUAV" type="camera_uav" name="camera_uav" output="screen" />

  <!-- 键盘控制-->
	<node pkg="MultiUAV" type="single_uav_keyboard.py" name="keyboard_control_px4" output="screen" launch-prefix="gnome-terminal --tab -e" />


</launch>

